<div class="col-md-12">
  <p>
  <div  bgcolor="mistyrose">klkjlkjlk</div>
<ul>


<li style="background-color: beidge">Отличное восстановление – по графику восстановленной функции можно определить положение максимума всех гауссовых слагаемых функции ("атомов") </li>
<li style="background-color: ivory">Хорошее восстановление – можно угадать положение всех максимумов, зная число слагаемых ("атомов"), хотя на восстановленной функции максимумы от атомов не отличимы от шума </li>
<li style="background-color: PEACHPUFF">Среднее восстановление – положение каких-то атомов определить по восстановленной функции нельзя, других - можно </li>
<li style="background-color: mistyrose">Плохое восстановление – положение атомов определить не представляется возможным; можно только предсказать примерный размер "молекулы" </li>
  </ul>
    </p>
  </div>
<table class='table table-bordered'>
	<caption>Таб.1. </caption>
  <thead>
                <tr>
                    <th class="col-md-1">Набор гармоник</th>
                    <th class="col-md-1">Разрешение (Å)</th>
                    <th class="col-md-1">Полнота данных (%)</th>
                    <th>Шум амплитуды (% от величины F)</th>
                    <th>Шум фазы (% от величины phi)</th>
                    <th class="col-md-8">Качество восстановления (отличное, хорошее, среднее, плохое)
                      </br>
                      <switch>
                      <a ng-click="setCurrent('1')" ng-if="isCurrent('default')">Показать картинки</a>
                      <a ng-click="setCurrent('default')" ng-if="isCurrent('1')">Скрыть картинки</a>
                      </switch></th>
                    <th class="col-md-4">Комментарии</th>
                </tr>
          </thead>
	<tbody>


    <tr>
      <td colspan="7">Полный набор гармоник</td>
    </tr>

    <tr>
      <td>0-1</td>
      <td>30</td>
      <td>100</td>
      <td>0</td>
      <td>0</td>
      <td cellpadding="0" bgcolor="mistyrose"><div ng-if="isCurrent('1')">
        <img src='pages/study_process/terms/term7/pr3/figure_0-1_0.png ' width = 100%>
        </div>
        <div ng-if="isCurrent('default')">плохое</div>
     </td>
      <td></td>
    </tr>

    <!-- <tr>
      <td>0-1</td>
      <td>30</td>
      <td>100</td>
      <td>20</td>
      <td>20</td>
      <td cellpadding="0" bgcolor="mistyrose"><div ng-if="isCurrent('1')">
        <img src='pages/study_process/terms/term7/pr3/figure_0-1_20.png ' width = 100%>
        </div>
        <div ng-if="isCurrent('default')">плохое</div>
     </td>
      <td></td>
    </tr> -->

    <tr>
      <td>0-3</td>
      <td>10</td>
      <td>100</td>
      <td>0</td>
      <td>0</td>
      <td cellpadding="0" bgcolor="OLDLACE"><div ng-if="isCurrent('1')">
        <img src='pages/study_process/terms/term7/pr3/figure_0-3_0.png ' width = 100%>
        </div>
        <div ng-if="isCurrent('default')">среднее</div></td>
      <td></td>
    </tr>

    <!-- <tr>
      <td>0-3</td>
      <td>10</td>
      <td>100</td>
      <td>20</td>
      <td>20</td>
      <td cellpadding="0" bgcolor="mistyrose"><div ng-if="isCurrent('1')">
        <img src='pages/study_process/terms/term7/pr3/figure_0-3_20.png ' width = 100%>
        </div>
        <div ng-if="isCurrent('default')">плохое</div></td>
      <td></td>
    </tr> -->

    <tr>
      <td>0-10</td>
      <td>3</td>
      <td>100</td>
      <td>0</td>
      <td>0</td>
      <td cellpadding="0" bgcolor=""><div ng-if="isCurrent('1')">
        <img src='pages/study_process/terms/term7/pr3/figure_0-10_0.png ' width = 100%>
        </div>
        <div ng-if="isCurrent('default')">среднее</div></td>
      <td></td>
    </tr>
    <!-- <tr>
      <td>0-10</td>
      <td>3</td>
      <td>100</td>
      <td>20</td>
      <td>20</td>
      <td cellpadding="0" class="warning"><div ng-if="isCurrent('1')">
        <img src='pages/study_process/terms/term7/pr3/figure_0-10_20.png ' width = 100%>
        </div>
        <div ng-if="isCurrent('default')">среднее</div></td>
      <td></td>
    </tr> -->
    <tr>
      <td>0-30</td>
      <td>1</td>
      <td>100</td>
      <td>0</td>
      <td>0</td>
      <td cellpadding="0" bgcolor="LIGHTYELLOW"><div ng-if="isCurrent('1')">
        <img src='pages/study_process/terms/term7/pr3/figure_0-30_0.png ' width = 100%>
        </div>
        <div ng-if="isCurrent('default')">хорошее</div></td>
      <td></td>
    </tr>
    <!-- <tr>
      <td>0-30</td>
      <td>1</td>
      <td>100</td>
      <td>10</td>
      <td>10</td>
      <td cellpadding="0" bgcolor="LIGHTYELLOW"><div ng-if="isCurrent('1')">
        <img src='pages/study_process/terms/term7/pr3/figure_0-30_10.png ' width = 100%>
        </div>
        <div ng-if="isCurrent('default')">хорошее</div></td>
      <td></td>
    </tr> -->
    <tr>
      <td>0-50</td>
      <td>0.6</td>
      <td>100</td>
      <td>0</td>
      <td>0</td>
      <td cellpadding="0" bgcolor="beige"><div ng-if="isCurrent('1')">
        <img src='pages/study_process/terms/term7/pr3/figure_0-50_0.png ' width = 100%>
        </div>
        <div ng-if="isCurrent('default')">отличное</div></td>
      <td></td>
    </tr>

    <!-- <tr>
      <td>0-50</td>
      <td>0.6</td>
      <td>100</td>
      <td>10</td>
      <td>10</td>
      <td cellpadding="0" bgcolor="beige"><div ng-if="isCurrent('1')">
        <img src='pages/study_process/terms/term7/pr3/figure_0-50_10.png ' width = 100%>
        </div>
        <div ng-if="isCurrent('default')">отличное</div></td>
      <td></td>
    </tr> -->
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="7">
        Неполный набор гармоник
        </td>
      </tr>
    <tr>
      <td>1-10</td>
      <td></td>
      <td>90</td>
      <td>0</td>
      <td>0</td>
      <td cellpadding="0" bgcolor="beige"><div ng-if="isCurrent('1')">
        <img src='pages/study_process/terms/term7/pr3/figure_1-10_0.png ' width = 100%>
        </div>
        <div ng-if="isCurrent('default')">отличное</div></td>
      <td></td>
    </tr>
    <tr>
      <td>1-3, 5-12</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>


	</tbody>
	</table>
